mat-toolbar {
  background-color: #202020;
  color: #e8e8e8;
  justify-content: center;
}

button {
  color: #e8e8e8 !important;
}

.container {
  max-width: 1200px;
  min-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
